/* Global changes */
* {
    padding: 0%;
    margin: 0%;
    font-family: Arial;
}

section {
    width: 80%;
    margin-left: 5%;
    padding: 5%;
    box-shadow: -9px 10px 23px 2px rgba(0,0,0,0.46);
    margin: 0 auto;
    margin-top: 5%;
    background-color: white;
}

/* navbar */

.menu {
    position: fixed;
    width: 100%;
    background-color: #6ABB5C;
    overflow: hidden;
    top: 0%;
    border-bottom: 5px solid darkgreen;
    z-index: 3;
}

.logo {
    float: left;
    width: 15%;
    background-color: white;
    opacity: 0.8;
}

.logoImg {
    width: 100%;
}

.menu ul {
    width: 80%;
    padding-left: 25%;
    padding-top: 3.5%;
}

.menu li {
    display: inline-block;
    margin-top: -1%;
    width: 20%;
}

.menu li a {
    padding: 8%;
    padding-left: 25%;
    padding-right: 25%;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 80%;
   
}

.menu li a:hover {
    background-color: white;
    color: darkgreen;
    border: 5px solid darkgreen;
}

.menu .active {
    background-color: darkgreen;
    color: white;
}

/* main */
.indexImg {
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.HomeTitle {
    padding-top: 1%;
    padding: absolute;
    margin-top: -50px;
    color: yellow;
    text-shadow: 5px 5px black;
    width: 90%;
    margin-top: -15%;
    margin-left: 5%;
    padding-bottom: 10%;
    text-align: center;
}

.main {
    width: 100%;
    text-align: center;
    align-content: center;
    margin-top: 5%;
    background-color: aliceblue;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}
.downloadLinks{
    width: 25%;
    display: block;
    margin-left: 50%;
    margin-top: 1%;
    padding: 2%;  
}
.phoneDownload{
    margin-right: 40%;
    margin-top: -23%;
    width: 18%;
}
.Stores{
    margin-top: 5%;
    margin-left: 20%;
   
}

/* footer */
footer {
    width: 100%;
    background-color: #6ABB5C;
    color: black;
    overflow: hidden;
    text-align: center;
    bottom: 0%;
    border-top: 5px solid darkgreen;
    padding-bottom: 2%;
}

/* Sponsor */
.coop{
    width: 140px;
    height: auto;
    padding-bottom: 2%;
}

.narvesen{
    width: 180px;
    height: auto;
}

.circlek{
    width: 180px;
    height: auto;
    margin-right: 1%;
}

.oslobysykkel{
    width: 130px;
    height: auto;
}

.tusenfryd{
    width: 130px;
    height: auto;
}

.zalando{
    width: 150px;
    height: auto;
    margin-right: 1%;
}

.facebook{
    width: 100px;
    height: auto;
}

/*Medie querry*/

@media(max-width: 1000px){
    .logo{
        width: 25%;
    }
    .main{
        margin-top: 13%;
    }
    .menu ul{
        width: 83%;
        padding-left: 26%;
        padding-top: 5.5%;
    }
    
}
