/* Global changes */
* {
    padding: 0%;
    margin: 0%;
    font-family: Arial;
}
section{
    width: 80%;
    margin-left: 5%;
    padding: 5%;
}

/* navbar */
.menu {
    width: 100%;
    background-color: #6ABB5C;
    overflow: hidden;
    top: 0%;
    
}


.Logo{
    float: left;
    width: 11%;
    background-color: white;
    opacity: 0.8;
}
.logoImg {
    width: 100%;
}

.menu ul {
   
    width: 80%;
    padding-left: 25%;
    padding-top: 2.5%;
}

.menu li {
    display: inline-block;
    margin-left: 3%;
    margin-top: -1%;
    text-align: center;
    width: 10%;
}

.menu li a {
    padding: 8%;
    border: 5px solid white;
    border-radius: 10px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    list-style-type: none;
}
.menu li a:hover{ 
    background-color: white;
    color: #6ABB5C;
}


.active a{
    background-color: white;
    color: #6ABB5C;
}

.main {
    width: 100%;
    text-align: center;
    align-content: center; 
}